body {
    margin-left: auto;
    margin-right: auto;
}
.form-group {
    padding-bottom: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
.grid-container-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.grid-child-element {
    max-width: 1000px ;
    min-width: 50% ;
    margin: 10px ;
    padding: 10px ;
    //border: 1px solid gray ;
}
.grid-child-element.left {
    justify-self: flex-end;
}
.grid-child-element.right {
    justify-self: start;
}
.pdf_view {
    height: 100%;
    width: 100%;
}
