# echo "export BW_SECRET_KEY='$(openssl rand -hex 40)'"
BW_SECRET_KEY="{{ biblio_web_secret_key }}"
BiblioArchiveDir="{{ biblio_archive_dir_path }}"
BiblioDBPath="{{ biblio_db_path }}"
DJANGO_SETTINGS_MODULE='biblio_web.settings'
BW_URL_PREFIX="{{ biblio_url_prefix }}"
BW_CURRENT_HOST="{{ biblio_web_current_host }}"